body{
    width: 100%;
}
#promise{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-top: 7%;
    text-align: center;
    padding-bottom: 100px;


}
#promise h1{
    font-size: 2em;

}
#promise p {
    font-size: 14px;
}
#promise p span{
    font-weight: bold;

}
#img{

    height: 2%;
    width: 40%;
    padding-top: 2.5%;
    

}
#imgs{
    height: 40px;
    width: 8%;
    margin-left: -139px;
    padding-top: 2.5%;
    
}
#imgs img{

    height: 2%;
    width: 40%;
    padding-top: 2.9%;
}