
/* section 1 start */

.section-1 {
    height: 700px;
    width: 100%;
    padding: 80px 30px;
    background-color: #FBF6EF;
  }
  
  .section-1-container {
    display: flex;
    width: 1340px;
    height: 100%;
    margin: auto;
    justify-content: space-between;
    font-family: 'Forum', cursive;
    padding: 20px;
  }
  
  .section-1-description {
    width: 25%;
    background-color: #FFF;
    text-align: center;
    padding: 20px;

body {
    padding: 0;
    margin: 0;
}

#varieties {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4%;
    margin: 8%;
}

#varieties img {
    height: 80%;
    width: 100%;
    border-radius: 2%;

}


#text h1 {
    color: rgb(13, 12, 13);
    text-align: center;
}

#text p {
    color: gray;
    text-align: center;
    font-size: 120%;
}

.main {
    height: fit-content;
    background-color: #161718;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 1rem;
}

.heading {
    text-align: center;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1.2rem;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 10px 10px 0px rgba(0, 0, 0, .2);
    animation: fadeup 1s forwards;
  }
  
  @keyframes fadeup {
    from {
        transform: scale(0.5) translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
  }
  
  .section-1-description h1 {
    font-size: clamp(1.5rem, 5vw, 1.8rem);
    color: #CD5334;
    font-weight: 800;
  }
  
  .section-1-description p {
    font-size: clamp(0.7rem, 3vw, 1.2rem);
    font-weight: 700;
    color: #121212;
    font-family: 'DM Sans', sans-serif;
    line-height: 22px;
  }
  
  .section-1-grid {
    width: 65%;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 10px 10px 0px rgba(0, 0, 0, .2);
    animation: fadeup 1s forwards;
    background-color: #FFF;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Adjusted column sizes */
    grid-template-rows: repeat(3, 1fr); /* Three rows */
    gap: 20px;
    height: 100%;
  }
  
  .item1 {
    grid-area: 1 / 1 / 2 / 2; /* Row 1, Column 1 */
    background-image: url("./images/cupcakes.jpeg");
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
  }
  
  .item2 {
    grid-area: 1 / 2 / 2 / 3; /* Row 1, Column 2 */
    background-image: url("./images/ice cream.jpeg");
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
  }
  
  .item3 {
    /* Changed to look like item2 (square) */
    grid-area: 2 / 1 / 3 / 2; /* Row 2, Column 1 */
    background-image: url("./images/pizza.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
  }
  
  .item4 {
    /* Changed to look like item1 (wider) */
    grid-area: 2 / 2 / 3 / 3; /* Row 2, Column 2 */
    background-image: url("./images/coffee.jpeg");
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
  }
  
  .item5 {
    grid-area: 3 / 1 / 4 / 2; /* Row 3, Column 1 */
    background-image: url("./images/noodles.jpeg");
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
  }
  
  .item6 {
    grid-area: 3 / 2 / 4 / 3; /* Row 3, Column 2 */
    background-image: url("./images/croissaint.jpeg");
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
  }
  
  
  .grid-item {
    overflow: hidden;
  }
  
  .grid-item img {
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
  }
  
  .grid-item:hover img {
    opacity: 0.2;
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .grid-item:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 1rem;
    padding: 1rem;
    font-weight: 600;
    text-align: center;
  }
  
  /* Responsive adjustments remain the same */
  
  @media screen and (max-width: 1024px) {
    .section-1 {
        height: 900px;
    }
  
    .section-1-container {
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        width: 100%;
        height: fit-content;
    }
  
    .section-1-description {
        width: 100%;
        height: 250px;
    }
  
    .grid-container {
        gap: 10px;
    }
  
    .section-1-grid {
        height: 450px;
        width: 100%;
    }
  
    .text {
        font-size: 0.8rem;
        padding: 1rem;
    }
  }
  
  @media (max-width: 768px) {
    .section-1-container {
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        width: 100%;
    }
  
    .section-1-description {
        width: 100%;
    }
  
    .grid-container {
        gap: 10px;
    }
  
    .section-1-grid {
        width: 100%;
        height: 350px;
    }
  
    .text {
        font-size: 0.6rem;
        padding: 0.8rem;
    }
  }
  
  @media (max-width: 480px) {
    .section-1 {
        height: 100%;
    }
  
    .section-1-container {
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        width: 100%;
    }
  
    .grid-container {
        gap: 10px;
    }
  
    .section-1-description {
        width: 100%;
    }
  
    .section-1-grid {
        width: 100%;
    }
  
    .text {
        font-size: 0.5rem;
        padding: 0.6rem;
    }
  }
  
  /* section 1 end */

    width: 100%;
    gap: 20px;

}

.heading h1 {
    margin: auto;
    font-family: 'Forum', cursive;
    color: #942d42;
    text-transform: uppercase;
    font-size: clamp(1rem, 2vw, 4rem);
}

.heading p {
    font-family: 'DM Sans', sans-serif;
    color: #FFF;
    font-size: 150%
}

.first-box {
    gap: 20px;
    padding: 2rem 2rem 0rem 2rem;
    display: flex;
    justify-content: center;
}

.first-box1 {
    width: 300px;
    background: linear-gradient(230deg, #e0d79ceb, #942d42);
    box-shadow: 2px 4px 6px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1.3rem;
    gap: 20px;
}

.first-box1 img {
    height: 60%;
    width: 70%;
    margin: auto;
}

.first-box1 h3 {
    color: white;
    font-size: 1.5em;
    font-family: 'DM Sans', serif;
}

.first-box1 span {
    color: white;
    font-size: .8em;
    font-weight: 700;
    font-family: 'DM Sans', serif;
}

.first-box1 button {
    background-color: #1617187a;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    border: none;
    color: white;
    cursor: pointer;
    width: 45%;
    font-family: 'DM Sans', serif;
    transition: background-color 0.5s;
}

.first-box1 button:hover {
    background-color: #16171860;
}



.first-box2 {
    width: 450px;
    background: linear-gradient(230deg, #e0d79ceb, #942d42);
    box-shadow: 2px 4px 6px black;
    border-radius: 10px;
    overflow: hidden;
    padding: 0px 20px;
}

.first-box2 img {
    height: 50%;
    margin-left: 105px;
}

.first-box2 h3 {
    color: white;
    font-size: 1.5em;
    font-family: 'DM Sans', serif;
    margin-top: 35px;
}

.first-box2 span {
    color: white;
    font-size: .8em;
    font-weight: 700;
    font-family: 'DM Sans', serif;
    display: inline-block;
    padding: 20px 0px;
}

.first-box2 button {
    background-color: #1617187a;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    border: none;
    color: white;
    cursor: pointer;
    width: 45%;
    font-family: 'DM Sans', serif;
    transition: background-color 0.5s;
}

.first-box2 button:hover {
    background-color: #16171860;
}

/* First Grid Styling ends here */

/* This styling for second Grid */
.second-box {
    /* width: 70%; */
    height: fit-content;
    gap: 20px;
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.second-box1 {
    width: 500px;
    background: linear-gradient(230deg, #e0d79ceb, #942d42);
    box-shadow: 2px 4px 6px black;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    gap: 10px;
    padding: 1rem 0px 1rem 1rem;
}

.second-box1 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: white;
}

.second-box1 img {
    width: 60%;
    height: 100%;
    margin-left: -80px;
}

.second-box1 h1 {
    font-size: 1.7em;
    font-family: 'DM Sans', serif;
}

.second-box1 p {
    font-size: .8em;
    font-family: 'DM Sans', serif;
    font-weight: 700;
}

.second-box1 button {
    background-color: #1617187a;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    border: none;
    color: white;
    cursor: pointer;
    width: 45%;
    font-family: 'Jost', sans-serif;
    transition: background-color 0.5s;
}

.second-box1 button:hover {
    background-color: #16171860;
}


.second-box2 {
    width: 300px;
    background: linear-gradient(230deg, #e0d79ceb, #942d42);
    box-shadow: 2px 4px 6px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 1rem;
    color: white;
}

.second-box2 h1 {
    font-size: 2.1rem;
    text-align: center;
    line-height: 42px;
    font-weight: 400;
    font-family: 'DM Sans', serif;
}

.second-box2 button {
    background-color: #1617187a;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    border: none;
    color: white;
    cursor: pointer;
    width: 45%;
    font-family: 'Jost', sans-serif;
    transition: background-color 0.5s;
}

.second-box2 button:hover {
    background-color: #16171860;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%)
    }
}

.slide img {
    height: 80%;
    width: 100%;
}

.slider {
    background: white;
    height: 100%;
    overflow: hidden;
    margin: 4%;

    .slide-track {
        animation: scroll 25s linear infinite;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        gap: 3%;
        min-width: 200%;

    }


    &:hover {
        .slide-track {
            animation-play-state: paused;
        }
    }


    .slide {
        transition: 300ms all linear;

        &:hover {
            filter: none;
        }
    }
}
 

.parrent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff7f7;
    max-width: 1340px;
    height: fit-content;
    margin: auto;
    padding: 3rem;
    width: 100%;
}

.headtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.headtext h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #121212;
    text-align: center;
    font-family: 'Forum', cursive;
    text-transform: uppercase;
}

.headtext img {
    width: 100px;
    margin: 10px 0;
}

.headtext p {
    font-size: 1rem;
    font-weight: 400;
    color: #121212;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
}


.event-card-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0px;
    gap: 20px;
}

.event-card {
    width: 280px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    transition: all 0.3s ease;
}

.p1 {
    background-image: linear-gradient(transparent, black), url(../new_file/imeges/social_meetup.avif );
    background-position: center;
    background-size: cover;
}

.p2 {
    background-image: linear-gradient(transparent, black), url(./imeges/social_hour.png);
    background-position: center;
    background-size: cover;
}


.p3 {
    background-image: linear-gradient(transparent, black), url(../new_file/imeges/painting_workshop.png);
    background-position: center;
    background-size: cover;
}

.p4 {
    background-image: linear-gradient(transparent, black), url(../new_file/imeges/live_concert.png);
    background-position: center;
    background-size: cover;
}

.event-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.event-card span {
    background-color: #E4C590;
    color: #121212;
    padding: 2px 4px;
    width: fit-content;
    border-radius: 2px;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    font-family: 600;
}

.event-card-text {
    position: relative;
    top: 14rem;
}

.event-card h2 {
    right: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    font-family: 'Forum', cursive;
    text-transform: uppercase;
    margin: 1rem 0;
}

.event-card p {
    font-size: 0.9rem;
    font-weight: 400;
    color: #E4C590;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
}

/* about us start  */

.about-container {
    font-family: "DM Sans", sans-serif;
    height: fit-content;
    color: #fff;
    background-color: #161718;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* max-width: 1340px; */
    margin: auto;
    padding: 4rem 0;
}

.separator {
    width: 100px;
    margin: 10px 0;

}

.title {
    margin-top: 20px;
    text-align: center;
    font-family: "Forum", serif;
    font-size: 2.4rem;
    margin-bottom: 20px;
}

.about {
    margin: auto;
    height: fit-content;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
    font-weight: 500;
    color: #E4C590;
}

.about-text {
    width: 60%;
    margin: auto;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    padding: 20px;
}

.about-container .text {
    width: 100%;
    /* padding: 20px; */
    color: hsla(0, 0%, 100%, 0.2);
    background-image: linear-gradient(90deg, white, white);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-clip: text;
    animation: reveal linear forwards;
    animation-timeline: view();
    animation-range-start: cover 19vh;
    animation-range-end: contain 50vh;

}

@keyframes reveal {

    to {
        background-size: 100% 100%;
    }
}



.card-container {
    margin-top: 30px;
    height: fit-content;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.card {
    background-color: #121212;
    width: 250px;
    height: fit-content;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 90px;
}

.card h1 {
    margin-top: 10px;
    font-family: "Forum", serif;
    font-size: 18px;
    text-align: center;
}

.card p {
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
    color: #aaa;
}

@media screen and (max-width: 768px) {
    .about-text {
        width: 100%;
        padding: 20px;
    }

    .card-container {
        gap: 1rem;
    }

    .card {
        width: 200px;
    }

    .card h1 {
        font-size: 16px;
    }

    .card p {
        font-size: 12px;
    }

}

/* about us end */